html, body {
  height: 100%;
  background-image: url("../images/galax.png");
  background-position-x: 50%;
  background-position-y: 40%;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
}

.boton {
    top:50%;
    left:50%;
    postion: fixed;
    z-index: 200;
}

.abs {
    display: none;
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 265px;
    height: 290px;
    z-index: 1000;
}


.logout {
    position: fixed;
    left: 50%;
    right: 50%;
    margin-right: 25px;
    width: 50px;
    top: 5%;
    height: 25px;
    z-index: 20;
    color: blue;
    text-decoration: underline;
}

.frame {
    bottom: 5px;
    right: 5px;
    width: 265px;
    height: 290px;
}

.user{
    position: fixed;
    top: 50%;
    right: 50%;
}
.sub{
    margin-top: 60px;
    left:50%;
    position: fixed;
    top: 50%;
    margin-left: auto;
}
.sub2{
    margin-top: 90px;
    left:50%;
    position: fixed;
    top: 50%;
    margin-left: auto;
}
.register{
    color: blue;
    text-decoration: underline;
    position: fixed;
    left:50%;
    margin-left: auto;
    top: 95%;
}
.detalles{
    margin-top: 90px;
    left:50%;
    position: fixed;
    top: 50%;
    margin-left: auto;
}
.detalles2{
    margin-top: 130px;
    left:50%;
    position: fixed;
    top: 50%;
    margin-left: auto;
}
.pass{
    margin-top: 30px;
    position: fixed;
    top: 50%;
    right: 50%;
}
.pass2{
    margin-top: 60px;
    position: fixed;
    top: 50%;
    right: 50%;
}
.input{
    position: fixed;
    top: 50%;
    left: 50%;
}
.input2{
    margin-top: 30px;
    position: fixed;
    top: 50%;
    left: 50%;
}
.input3{
    margin-top: 60px;
    position: fixed;
    top: 50%;
    left: 50%;
}
#map-canvas, #map_canvas {
  height: 100%;
}

@media print {
  html, body {
    height: auto;
  }

  #map-canvas, #map_canvas {
    height: 650px;
  }
}

#panel {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -180px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}



/* 
    Document   : chat
    Created on : 16-ago-2013, 12:28:51
    Author     : maria jesus
    Description:
        Purpose of the stylesheet follows.
*/
/* CSS Document */  
body {  
    font:12px arial;  
    color: #222;  
    text-align:center;  
    padding:5px; }  
   
form, p, span {  
    margin:0;  
    padding:0; }  
   
input { font:12px arial; }  
   
a {  
    color:#0000FF;  
    text-decoration:none; }  
   
    a:hover { text-decoration:underline; }  
   
#wrapper, #loginform {  
    margin:0 auto;  
    padding-bottom:5px;  
    background:#EBF4FB;  
    width:250px;  
    border:1px solid #ACD8F0; }  
   
#loginform { padding-top:18px; }  
   
    #loginform p { margin: 5px; }  
   
#chatbox {  
    text-align:left;  
    margin:0 auto;  
    margin-bottom:25px;  
    padding:10px;  
    background:#fff;  
    height:135px;  
    width:215px;  
    border:1px solid #ACD8F0;  
    overflow:auto; }  
   
#usermsg {  
    width:185px;  
    border:1px solid #ACD8F0; }  
   
#submit { width: 60px; }  
   
.error { color: #ff0000; }  
   
#menu { padding:12.5px 25px 12.5px 25px; }  
   
.welcome { float:left; }  
   
.logout { float:right; }  
   
.msgln { margin:0 0 2px 0; }  